* {
  margin: 0;
  padding: 0;
  /* font-family: Verdana, sans-serif; */
  list-style: none;
}

.container {
  margin: 0 auto;
  width: 1200px;
}

.header {
  background-color: #f6f2f1;
}

.header-menu {
  background-color: #30302f;
  text-align: center;
}

.header-menu-item {
  display: inline-block;
  padding: 30px 20px;
}

.header-menu-item:hover {
  background-color: red;

}

.header-menu-item:hover .header-menu-link {
  border-bottom: 1px solid #fff;

}

.header-menu-link {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}

body {
  font-family: Verdana, sans-serif;
}

/* .ul-pretty li:before {
  content: "\2192 \0020" ;
} */

.header-button {
  font-size: 18px;
  font-weight: 700;
  padding: 20px 30px;
  background-color: #ff3f40;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  margin-top: 40px;
  letter-spacing: 2px;

}

.header-content:after {
  content: "";
  clear: both;
  display: block;
  height: 0;
}

.header-content {
  display: flex;
  justify-content: space-between;
  margin: 40px 0;
}

.header-about-us {
  width: 50%;
  margin-right: 50px;
}

.header-h2 {
  font-size: 48px;
  text-transform: uppercase;
  text-decoration: uppercase;
  font-weight: bold;

}

.header-p {
  color: #8e8d8b;
  margin-right: 140px;
  line-height: 1.8;
}

.header-media {
  width: 50%;
}

.text-center {
  text-align: center;
}

.h2-title {
  color: #555555;
  text-transform: uppercase;
  font-size: 32px;
  margin: 30px 0;
}

.description {
  color: #8e8d8b;
  line-height: 1.8;
}

.features-description {
  width: 500px;
  margin: 0 auto;
}

.features-products {
  display: flex;
  flex-wrap: wrap;
}
